<p id="notice"><%= notice %></p>

<h1>Blog Posts</h1>
<div class="row">
  <% @blog_posts.each do |blog_post| %>
  <div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-heading">
  <%= link_to blog_post.title, blog_post %>
  </div>
  <div class="panel panel-body">
    by <strong><%= link_to blog_post.user.name, user_posts_path(id: blog_post.user.id) %></strong>
    <span class="posted-at"><%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p' ) %></span></p>
  <p><%= truncate(blog_post.blog_entry, length: 250, seperator: ' ') %></p>
  <%= link_to "Read More About #{blog_post.title.titleize}", blog_post %>
  </div>
  <div class="panel-footer">

        <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning"  %>
        <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
      </div>
      </div>
    <% end %>
    </div>
<br>

<%= link_to 'New Blog post', new_blog_post_path %>
